body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

div {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

#lista_categorias li {
    margin-bottom: 10px;
}

#seleccion {
    background-color: #f8f9fa;
    padding: 20px;
}

#contenido_general {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}