body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    padding-top: 6px;
    padding-left: 2px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.content {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

#lista_categorias li {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px;
    transition: background-color ease-in-out 0.2s;
    background-color: #003655 !important;
    color: white;
}

#lista_categorias li:hover {
    background-color: #053c77f1 !important;
}

#seleccion {
    background-color: #f8f9fa;
    padding: 20px;
}

#contenido_general {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-selection-disable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-body {
    transition: background-color ease-in-out 0.2s;
    border: solid 0.1px rgb(179, 179, 179);
    width: 300px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

.card-body:hover {
    background-color: #9dbbe7;
}

#observacion {
    transition: all ease-in-out 0.2s;
}