body {
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    margin-bottom: 20px;
}

.center {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1.editable {
    color: #007bff;
}

.parent {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

button[type="js_create"] {
    background-color: #28a745;
}

button[type="js_read"] {
    background-color: #17a2b8;
}

button[type="js_update"] {
    background-color: #ffc107;
}

button[type="js_delete"] {
    background-color: #dc3545;
}

.contenedor {
    display: inline-block;
}

.drop_rigth {
    display: inline-block;
    background-color: white;
    margin: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.drop_left {
    display: inline-block;
    background-color: white;
    width: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.contenedor_b {
    position: relative;
    top: -auto;
    height: 100%;
    overflow-y: scroll;
}

li {
    position: relative;
    left: -25px;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    /* border: solid 1px rgb(140, 172, 199); */
    transition: all ease-in-out 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li:hover {
    background-color: #9dbfec;
}

li:active {
    background-color: #4574b3;
}

.text-selection-disable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}